@model PagedList.IPagedList<ShopOnlineConnection.NhaSanXuat>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-clipboard-check"></i>
                </span> Quản Lý Nhà Sản Xuất
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Quản Lý Nhà Sản Xuất <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Quản Lý Nhà Sản Xuất</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Mã Nhà Sản Xuất</th>
                                    <th>Tên Nhà Sản Xuất</th>
                                    <th>Tình Trạng</th>
                                    <th colspan="2">
                                        <a href="@Url.Action("Create","NhaSanXuatAdmin")"><img src="~/Asset/images/AddNSX.png" /></a>
                                    </th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.MaNhaSanXuat</td>
                                        <td>@item.TenNhaSanXuat</td>
                                        <td>@item.TinhTrang</td>
                                        <td><a href="@Url.Action("Edit","NhaSanXuatAdmin",new { id = @item.MaNhaSanXuat})"> <img src="~/Asset/images/edit.png" /></a> </td>
                                        <td><a href="@Url.Action("XoaTamThoi","NhaSanXuatAdmin",new { id = @item.MaNhaSanXuat})"> <img src="~/Asset/images/Delete.png" /></a> </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
    <!-- main-panel ends -->
